@using Newtonsoft.Json
@model DroseroMVC.ViewModels.FoodItemViewModel

<table class="categoryTable" style="margin-top:150px; margin-left:20px; ">
    @foreach (var food in Model.FoodItems)
    {
        <tr>
            <td class="foodItemRow">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6 foodItemName">
                            @if (food.HasTrivia)
                            {
                                <a href='@Url.Action("GetTriviaByFoodItemId", "Trivia", new { foodItemId = food.Id})'>
                                    <div class="glyphicon glyphicon-info-sign" title="@string.Format("How {0} originated ?", food.Name.Trim())"></div>
                                    @food.Name
                                </a>
                            }
                            else
                            {
                                @food.Name
                            }
                        </div>
                        <div class="col-sm-4 foodItemPrice">
                            @food.Price
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 foodItemDescription">
                            @food.Description
                        </div>
                    </div>
                </div>
                <br />
            </td>
        </tr>
    }
</table>

<script type="text/javascript">
    $(document).ready(function () {
        var data = @Html.Raw(JsonConvert.SerializeObject(Model.FoodItems));
        magazineUI.foodItemsByCategory = data;
    });
</script>
